{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <p class="meta">layout index.html</p>
    </div>
    
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <p>Ensurity is a deep-tech cybersecurity engineering company; designs and manufactures specialized secure hardware, software, and mobile application solutions.

      <br> Ensurity's innovative security solutions are seeing global acceptance due to growing privacy and security concerns. Ensurity has secured a global patent for a novel, post-quantum cryptography technique ‘Non-Linear Secret Shares (NLSS)’.
      
      <br> The company always believe and ensure best security is built in, not bolted on! Ensurity is in constant pursuit to find innovative and cutting-edge cybersecurity solutions to the trickiest security issues emanating from the current cybersecurity architecture. Ensurity has been working with globally renowned companies (including Microsoft) in the domain of secure identity & authentication.
      
      <br> Ensurity offerings include both hardware and software solutions, as part of complete life-cycle of solutions.
      <li> Software based Identity Provider (IdP) solutions with On-Premises / SaaS model deployment; with support for passwordless / multi-factor authenticator modules.</li>
       <li>Hardware based Biometric Authenticators (FIDO2 Security Keys). </li>
       <li>Asset Management System (AMS) for Ensurity's Biometric FIDO2 Security Keys, which helps the organization with Inventory Management, Assign/Unassign the Keys with Users, Fingerprint Enrollment, Reset the Keys etc. functionalities. </li>
       
      <li>Mobile App based Authenticators, using Ensurity's patented NLSS crypto technique. </li> 
      
      </p>
    <div class="row justify-content-center text-center">
      
      <div class="col-lg-5">
        <h2 class="h4">Security aware</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks-child-theme.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=59aafe464a68f8bc30b8e9a636d5b053">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO-ready</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
